body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;  
  color: rgb(51, 51, 51);
  line-height: 18px;
  
  background-color: rgb(244, 246, 247);
  border-top: rgb(0, 136, 204) solid 3px;
  
  margin: 0px;
  padding: 20px;
}

.main, .footer {
  
  margin-left: auto;
  margin-right: auto;
  min-width: 600px;
  
}

.main {
  max-width: 650px;
  height: auto;
  width: auto;
  background-color: white;
  border: rgba(0, 0, 0, 0.15) 1px solid;
  border-radius: 4px;
  color: rgb(51, 51, 51);
  line-height: 18px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 6px 0px;
}

.site-name {
  float: left;
  width: auto;
  padding-left: 10px;
}

.site-name a {
  color: rgb(0, 68, 102);
  cursor: pointer;
  font-family: 'Pangolin', cursive;
  font-size: 20px;
  line-height: 21px;
  
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: color;
  transition-timing-function: linear;
  text-decoration: none;
}

.site-name a:hover {
  color: cadetblue;
}

.logo {
  float: right;
  width: auto;
 

  
}

.nav {
  clear: both;
  border-bottom: rgba(0, 0, 0, 0.075) 1px solid;
  border-top: rgba(0, 0, 0, 0.075) 1px solid;
  width: 100%;
  
}

.nav-list {
  list-style: none;
  height: 38px;
  padding-left: 0px;
  text-align: center;
}

.active, 
.inactive {
  display: inline-block;
  margin: 2px 5px;
  
}

.nav-list a {
   
}

.active {
  
}

.active a {
  background-color: rgb(0, 136, 204);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  padding: 8px 12px 8px 12px;
  text-align: left;
  text-decoration: none;
  
}

.inactive {
  
}

.inactive a {
  color: rgb(0, 136, 204);
  cursor: pointer;
  display: block;
  padding: 8px 12px 8px 12px;
  text-align: left;
  text-decoration: none;
}

.inactive a:hover {
  
  border-radius: 5px;
  background-color: #f2f2f2;
  color: rgb(0, 136, 204);
  cursor: pointer;
  display: block;
  padding: 8px 12px 8px 12px;
  text-align: left;
  text-decoration: none;
}



.article {
  padding: 30px;
  clear: both;
  font-size: 16px;
  line-height: 24px;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 18px;
  padding-bottom: 0px; 
  padding-top: 0px;
  margin-bottom: 10px; 
  margin-top: 40px;
  
}

h4 {
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 0px; 
  padding-top: 0px;
  margin-bottom: 8px; 
  margin-top: 20px;
}

p.history {
  padding-bottom: 0px; 
  padding-top: 0px;
  margin-bottom: 3px; 
  margin-top: 0px;
}

.article .note {
  font-style: italic;
  font-size: 14px;
  text-align: right;
}

.article .padding-left {
  padding-left: 30px;
}

.img-big {
  text-align: center;
  margin-bottom: 40px;
}

.img-text {
  text-align: right;
  float: right
}
  
.img-big img {
  border-radius: 15px;
  padding: 10px;
  border: rgba(0, 0, 0, 0.15) 1px solid;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 6px 0px;
  background-color: antiquewhite
}

.img-text img {
    border-radius: 15px;
    padding: 0px;
    border: rgba(0, 0, 0, 0.15) 1px solid;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 6px 0px;
    background-color: antiquewhite
}

.img-title {
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    font-style: italic;
}

.footer {
  max-width: 640px;
  padding-top: 20px;
  font-size: 10px;
}

.footer p {
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.40)
}

.footer hr {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}


